#fullGallery {
  border-top:4px solid #a2cd2e;/* <------------------------------------------- PUT TEMPLATE BACKGROUND HERE */
}

#fullGallery #slide-controls {
  background-color:#a2cd2e;/* <------------------------------------------- PUT TEMPLATE BACKGROUND HERE */
}
#fullGallery #slide-controls p#slide-nav a {
  background-image : url(silde-nav-green.jpg);
}
