/* CSS Document */

#zoom
{
	display:none;
}
#zoom_table
{
	border-collapse:collapse; width:100%; height:100%;
}
.tl
{
	background:url(images/tl.png) 0 0 no-repeat; width:20px; height:20px; overflow:hidden;
}
.tm
{
	background:url(images/tm.png) 0 0 repeat-x; height:20px; overflow:hidden;
}
.tr
{
	background:url(images/tr.png) 100% 0 no-repeat; width:20px; height:20px; overflow:hidden;
}
.ml
{
	background:url(images/ml.png) 0 0 repeat-y; width:20px; overflow:hidden;
}
.mm
{
	background:#fff; vertical-align:top; padding:10px;
}
.mr
{
	background:url(images/mr.png) 100% 0 repeat-y;  width:20px; overflow:hidden;
}
.bl
{
	background:url(images/bl.png) 0 100% no-repeat; width:20px; height:20px; overflow:hidden;	
}
.bm
{
	background:url(images/bm.png) 0 100% repeat-x; height:20px; overflow:hidden;
}
.br
{
	background:url(images/br.png) 100% 100% no-repeat; width:20px; height:20px; overflow:hidden;
}
#zoom_close
{
	position:absolute; top:0; left:0;
}