div.AdmirorListedGallery
{
  display:block;
}

.AdmirorListedGallery .ag_item
{
  margin:0px;
  padding:0px;
  
}

.AdmirorListedGallery td
{
  height:1%;
}

.AdmirorListedGallery .ag_thumbTd
{
  margin:0px;
  padding:10px;
  
  width:1%;
  
  text-align:left;
  vertical-align:middle;
}

.AdmirorListedGallery .ag_thumbTd a
{
  text-decoration:none;
  border-width:0px;
  outline:none;
}


.AdmirorListedGallery a .ag_thumbSpan
{
  margin:2px 0px 0px 2px;
  padding:0 3px 3px 0;
  
  display:block;
  
  text-decoration:none;
  
  border-width:0px;
  background-image: none;  
  
}


.AdmirorListedGallery a:hover .ag_thumbSpan
{
  margin:0px 2px 2px 0px;

  background:url(shadow.png) no-repeat bottom right;

}

.AdmirorListedGallery a .ag_imageThumb
{
  margin:0px;
  padding:10px;
  
  border-width:0px;

  background-image: url("thumbBackground.jpg");
  background-repeat: repeat-x;
  background-color: #a6a6a6;
}

.AdmirorListedGallery a:hover .ag_imageThumb
{

}

.AdmirorListedGallery .ag_info
{
  margin:0px;
  padding:10px;
  padding-left:0px;
  
  text-align:left;
  vertical-align:middle;
}

.AdmirorListedGallery .ag_description
{
  padding:0px;
  margin:0px;

  color:#333;
  font:bold 10px Verdana, Sans;
}

.AdmirorListedGallery .ag_imageStat span
{
  padding-right:4px;
  margin-top:7px;
  
  color:#333;
  font:normal 10px Verdana, Sans;
}


/* ========================================= NEW IMAGE TAG */
.AdmirorListedGallery .ag_newTag
{
  margin:0px;
  padding:0px;
  
  background-color: transparent;
  
  position:absolute;
  
  z-index:100;  
  
}

.AdmirorListedGallery .ag_newImageTag
{
  margin: 0px;
  padding: 0px;
  
  z-index:100;  
  
  background-color: transparent;
  border-width:0;
  
}



