div.error {
  background: #f7e5e5 url(error-icon.gif) no-repeat 8px 8px; 
  border-top: 2px solid #db9f9f; 
  border-bottom: 2px solid #db9f9f;
  margin:10px 0px;
  padding: 10px 10px 10px 40px;
  color: #551111;
}

div.error a {
  color: #cc0000;
  text-decoration: underline;
}

div.error a:hover{
  text-decoration: none;
}


.ag_newTag {
  background-color:transparent;
  position:absolute;
  z-index:100;
  margin:0;
  padding:0;
}

.ag_newImageTag {
  z-index:100;
  background-color:transparent;
  border-width:0;
  margin:0;
  padding:0;
}