.AG_classic_centered
{
    display:block;
    width:100%;
}	

.AG_classic_centered .ag_thumbclassic_centered {
  display:inline-block;
  background-position:bottom right;
  background-repeat:no-repeat;
  margin:0 10px 10px;
  padding:0 4px 4px 0;
  text-align:left;
}

.AG_classic_centered .ag_imageThumb {
  display:block;
  position:relative;
  background:#FFF;
  border:1px solid #ccc;
  margin:0;
  padding:4px;
}

.AG_classic_centered .AG_album_thumb a
{
    background-position: right bottom;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 10px 10px;
    padding: 0 4px 4px 0;
    text-align: left;
}