div.AdmirorListedGallery {
display:block;
}

.AdmirorListedGallery .ag_item {
margin:0;
padding:0;
}

.AdmirorListedGallery td {
height:1%;
}

.AdmirorListedGallery .ag_thumbTd {
width:1%;
text-align:left;
vertical-align:middle;
margin:0;
padding:10px;
}

.AdmirorListedGallery .ag_thumbTd a {
text-decoration:none;
outline:none;
border-width:0;
}

.AdmirorListedGallery a .ag_thumbSpan {
display:block;
text-decoration:none;
background-image:none;
border-width:0;
margin:2px 0 0 2px;
padding:0 3px 3px 0;
}

.AdmirorListedGallery a:hover .ag_thumbSpan {
background:url(shadow.png) no-repeat bottom right;
margin:0 2px 2px 0;
}

.AdmirorListedGallery a .ag_imageThumb {
background-image:url(thumbBackground.jpg);
background-repeat:repeat-x;
background-color:#a6a6a6;
border-width:0;
margin:0;
padding:10px;
}

.AdmirorListedGallery .ag_info {
text-align:left;
vertical-align:middle;
margin:0;
padding:10px 10px 10px 0;
}

.AdmirorListedGallery .ag_description {
color:#333;
font:bold 10px Verdana, Sans;
margin:0;
padding:0;
}

.AdmirorListedGallery .ag_imageStat span {
padding-right:4px;
margin-top:7px;
color:#333;
font:normal 10px Verdana, Sans;
}

.AdmirorListedGallery .ag_newTag {
background-color:transparent;
position:absolute;
z-index:100;
margin:0;
padding:0;
}

.AdmirorListedGallery .ag_newImageTag {
z-index:100;
background-color:transparent;
border-width:0;
margin:0;
padding:0;
}