.galleria{list-style:none;width:200px;}
.galleria li{display:block;width:80px;height:80px;overflow:hidden;float:left;margin:0 10px 10px 0}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em}
* html .galleria li div span{width:400px} /* MSIE bug */

.caption{font-style:italic;color:#887; margin:0 auto 10px auto;height:20px;width:700px;display: block;}
.demo{position:relative;margin-top:2em;}
.gallery_small{width:702px;margin:0 auto;}
.gallery_small li{width:68px;height:50px;border:3px double #111;margin: 0 2px;background:#000;}
.gallery_small li div{left:240px}
.gallery_small li div .caption{font:italic 0.7em/1.4 georgia,serif;}

#main_image{margin:0 auto 10px auto;background:black; overflow: hidden}
#main_image img{margin-bottom:10px;}
.nav{padding-top:15px;clear:both;font:80% 'helvetica neue',sans-serif;letter-spacing:3px;text-transform:uppercase; text-align: center;}



/* ========================================= NEW IMAGE TAG */
.ag_galleria .ag_newTag
{
    margin:0px;
    padding:0px;

    background-color: transparent;

    position:absolute;

    z-index:100;

}

.ag_galleria .ag_newImageTag
{
    margin: 0px;
    padding: 0px;

    z-index:100;

    background-color: transparent;
    border-width:0;

}


/* =================================== AdmirorGallery_label */
.AdmirorGallery_label
{
    margin:0px;
    margin-top:1px;
    padding:0px;
    padding-left:12px;
    padding-bottom:10px;
    text-align:left;
}

.AdmirorGallery_linkAdmiror
{
    margin:0px;
    padding:0px;
    background-color:#a00;

    text-decoration:none;
}

.AdmirorGallery_linkGallery
{
    margin:0px;
    padding:0px;
    background-color:#333;

    text-decoration:none;
}

.AdmirorGallery_linkAdmiror span
{
    margin:0px;
    padding:1px 3px;

    color:#eee;
    font:bold 8px Arial, Sans;
    text-transform:uppercase;
    text-decoration:none;
}

.AdmirorGallery_linkGallery span
{
    margin:0px;
    padding:1px 3px;

    color:#eee;
    font:bold 8px Arial, Sans;
    text-transform:uppercase;
    text-decoration:none;
}
