.ag_overscroll_bodyHolder
{
  background-color:#fff;
  border-top:2px solid #ccc;
  border-bottom:2px solid #ccc;
  
  
}

div.AdmirorOverscrollGallery
{
  display:block;
}

.AdmirorOverscrollGallery .ag_overscroll_item
{
  margin:0px;
  padding:0px;
  
}

.AdmirorOverscrollGallery td
{
  height:1%;
}

.AdmirorOverscrollGallery .ag_overscroll_thumbTd
{
  margin:0px;
  padding:10px;
  
  width:1%;
  
  text-align:left;
  vertical-align:middle;
}

.AdmirorOverscrollGallery .ag_overscroll_thumbTd a
{
  text-decoration:none;
  border-width:0px;
  outline:none;
}


.AdmirorOverscrollGallery a .ag_overscroll_thumbSpan
{
  margin:2px 0px 0px 2px;
  padding:0 3px 3px 0;
  
  display:block;
  
  text-decoration:none;
  
  border-width:0px;
  background-image: none;  
  
}


.AdmirorOverscrollGallery a:hover .ag_overscroll_thumbSpan
{
  margin:0px 2px 2px 0px;

  background:url(shadow.png) no-repeat bottom right;

}

.AdmirorOverscrollGallery a .ag_imageThumb
{
  margin:0px;
  padding:10px;
  
  border-width:0px;

  background-image: url("thumbBackground.jpg");
  background-repeat: repeat-x;
  background-color: #a6a6a6;
}

.AdmirorOverscrollGallery a:hover .ag_overscroll_thumbImg
{

}

.AdmirorOverscrollGallery .ag_overscroll_info
{
  margin:0px;
  padding:10px;
  padding-left:0px;
  
  text-align:left;
  vertical-align:middle;
}

.AdmirorOverscrollGallery .ag_overscroll_description
{
  padding:0px;
  margin:0px;

  color:#333;
  font:bold 10px Verdana, Sans;
}

.AdmirorOverscrollGallery .ag_overscroll_imageStat span
{
  padding-right:4px;
  margin-top:7px;
  
  color:#666;
  font:normal 10px Verdana, Sans;
}


/* ========================================= NEW IMAGE TAG */
.AdmirorOverscrollGallery .ag_newImageTag
{
  margin:0px;
  padding:0px;
  
  background-color: transparent;
  
  position:absolute;
  
  z-index:100;  
  
}

.AdmirorOverscrollGallery .ag_newImageTag
{
  margin: 0px;
  padding: 0px;
  
  z-index:100;  
  
  background-color: transparent;
  border-width:0;
  
}
