#fullGallery {
  border-top:4px solid #c80000;/* <------------------------------------------- PUT TEMPLATE BACKGROUND HERE */
}

#fullGallery #slide-controls {
  background-color:#c80000;/* <------------------------------------------- PUT TEMPLATE BACKGROUND HERE */
}
#fullGallery #slide-controls p#slide-nav a {
  background-image : url(silde-nav-red.jpg);
}
