.ag_pagination {
            font-size: 80%;
        }
        
.ag_pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.ag_pagination a, .ag_pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.ag_pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.ag_pagination .current.prev, .ag_pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
