.AVC_LAYOUT_TABLE
{
	border-bottom:1px solid #ddd;
	margin-bottom:4px;
}

.AVC_LAYOUT_TABLE th
{
    background-color:#ddd;
    padding:4px 10px;
    color:#333 !important;   
}

.AVC_LAYOUT_TABLE td
{
    border-top:1px solid #ddd;
    padding:4px 10px;
    color:#333 !important;  
}

.AVC_LAYOUT_HOVER.HOVER
, .AVC_LAYOUT_HOVER.HOVER
, .AVC_LAYOUT_HOVER_ACTIVE
, a.AVC_LAYOUT_BUTTON:hover
{
    background-color:#aaf !important;   
    cursor: pointer;
}

.AVC_LAYOUT_EXT
{
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 0 4px 4px 0;
	display: block;
	float: left;

    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.AVC_LAYOUT_BUTTON
{
	text-decoration: none;
	padding: 4px;
	background-color: #ddd;

	margin-right: 3px;

    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    color:#333 !important;
    font-size: 12px !important;
}

.AVC_LAYOUT_SPAN
{
	padding: 4px;
    color:#333 !important;
    font-size: 12px;
}

.AVC_LAYOUT_SEPARATOR
{
	border-left:1px solid #ddd;
	padding: 4px 0;
}

.AVC_LAYOUT_SELECT
{
	margin-right: 3px;
}

.AVC_LAYOUT_EXT input
{
	margin: 0 3px 0 0 !important;
	border: none !important;
	background-color: #ddd !important;
	color: #333;
	font-size: 12px !important;
	padding: 4px !important;

	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.AVC_LAYOUT_BREADCRUMPS
{
}

hr.AVC_SEPARATOR
{
	border: 0;
    width: 100%;
    color: #dddddd;
    background-color: #dddddd;
    height: 1px;   
    padding:0;
    margin:5px 0;
}

hr.AVC_SEPARATOR_LARGE
{
	border: 0;
    width: 100%;
    color: #dddddd;
    background-color: #dddddd;
    height: 4px;   
    padding:0;
    margin:5px 0;
}

#AVC_LAYOUT_ACCORDION h1
{
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a.AVC_LAYOUT_BIGBUTTON
{
    border:1px solid #bc2227;
    padding:4px;
    width:220px;
    margin:0 10px 10px 0;
    display:block;
    float:left;
    text-decoration: none;
    color:white;
    background-color: #bc2227;

    moz-border-bottom-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

a.AVC_LAYOUT_BIGBUTTON:hover
{
    color:#bc2227;
	background-color: white;
}