#fullGallery {
  border-top:4px solid #74b3d0;/* <------------------------------------------- PUT TEMPLATE BACKGROUND HERE */
}

#fullGallery #slide-controls {
  background-color:#74b3d0;/* <------------------------------------------- PUT TEMPLATE BACKGROUND HERE */
}
#fullGallery #slide-controls p#slide-nav a {
  background-image : url(silde-nav-blue.jpg);
}
