
/* Global Reset */
#fullGallery div,
#fullGallery a,
#fullGallery img
{ margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;border:none;border-spacing:0px;border-collapse:collapse;}

#fullGallery {
  border-top:2px solid #ccc;
}

#fullGallery #slide-controls {
  background-color:#fff;/* <------------------------------------------- PUT TEMPLATE BACKGROUND HERE */
}
#fullGallery #slide-controls p#slide-nav a {
  background-image : url(silde-nav.jpg);
}

/* ===================================== GALLERY HOLDER */


#fullGallery #slide-holder
{
  z-index : 40;
  position : absolute;

  background-color:#fff;/* <------------------------------------------- PUT TEMPLATE BACKGROUND HERE */
}

#fullGallery #slide-holder div#slide-runner
{
  top : 0px;
  left : 0px;
  overflow : hidden;
  position : absolute;

}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
border:0 none;
font-family:inherit;
font-size:100%;
font-style:inherit;
font-weight:inherit;
margin:0;
outline:0 none;
padding:0;
vertical-align:baseline;
}

#fullGallery #slide-holder img
{
  margin : 0;
  display : none;
  position : absolute;
}

/* ===================================== CONTROLS HOLDER */

#fullGallery #slide-controls td
{
  padding:10px;
  vertical-align:middle;

  font-family: Trebuchet, "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
	font-size: 12px;
  font-weight: bold;
border-bottom:1px solid #ccc;

}

#fullGallery #slide-controls p.text
{
  color : #333;
  display : block;
  line-height : 24px;
  margin : 0 10px;
  text-transform : uppercase;

}

#fullGallery #slide-controls p#slide-nav
{
  height : 24px;
  display : inline;
  margin : 0 10px;
  text-align:right;

}

#fullGallery #slide-controls p#slide-nav a
{
  float : left;
  width : 24px;
  height : 24px;
  display : inline;
  font-size : 11px;
  margin : 0 0 5px 5px;
  line-height : 24px;
  font-weight : bold;
  text-align : center;
  color : #333;
  text-decoration : none;
  background-position : 0 0;
  background-repeat : no-repeat;
  white-space: nowrap;
}

#fullGallery #slide-controls p#slide-nav a:hover {
  background-position : 0 -48px;
}

#fullGallery #slide-controls p#slide-nav a.on {
  background-position : 0 -24px;
	color:#888;
}

