#fullGallery {
  border-top:4px solid #555;/* <------------------------------------------- PUT TEMPLATE BACKGROUND HERE */
}

#fullGallery #slide-controls {
  background-color:#555;/* <------------------------------------------- PUT TEMPLATE BACKGROUND HERE */
}
#fullGallery #slide-controls p#slide-nav a {
  background-image : url(silde-nav-gray.jpg);
}
